.modal {
  transform: scale(1);
  opacity: 1;
  visibility: visible;
  width: 90%;
  max-width: 600px;
  max-height: 400px;
  background-color: var(--bg-primary);
  border-radius: 12px;
  padding: 1.1rem;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.2);
  transition: transform 0.4s linear, opacity 0.3s linear, visibility 0.3s linear;
  z-index: 10;
}

.ReactModal__Overlay {
  display: flex;
  align-items: center;
  justify-content: center;
}
