.modal {
  transform: scale(1);
  opacity: 1;
  visibility: visible;
  width: 90%;
  max-width: 600px;
  max-height: min-content;
  background-color: var(--bg-primary);
  border-radius: 12px;
  padding: 1.1rem;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.2);
  transition: transform 10s linear, opacity 0.3s linear, visibility 0.3s linear;
  z-index: 10;
}

.modal--hide{
  transform: scale(0);
  opacity: 0;
  visibility: hidden;
}
