/* MENSAJE DE ERROR EN CAMPOS */
.has-error {
  font-size: small;
  font-weight: 800;
  color: var(--text-color-danger);
  opacity: 1;
  transition: opacity 2s ease-in-out;
}

/* BORDES PERSONALIZADOS */
textarea.is-valid,
select.is-valid,
input.is-valid {
  border-width: 2px;
  border-color: #44d55ff0;
}

textarea {
  font-family: sans-serif;
  letter-spacing: 1px;
  font-weight: 400;
}

select.is-invalid,
textarea.is-invalid,
input.is-invalid {
  border-width: 2px;
  border-color: #e44444e6;
}

/* FOCUS ADICIONAL */
textarea.is-valid:focus,
select.is-valid:focus,
input:not([type='radio']):not([type='checkbox']).is-valid:focus {
  border-color: transparent;
  box-shadow: 0 0 0 4px #44d55ff0;
}

/* ESTILO PARA FOCO EN INPUTS */
input.is-focus:focus {
  outline: none;
  border-color: #2563eb;
  box-shadow: 0 0 0 3px rgba(37, 99, 235, 0.3);
}

textarea.is-invalid:focus,
input:not([type='radio']):not([type='checkbox']).is-invalid:focus {
  border-color: transparent;
  box-shadow: 0 0 0 4px #e44444e6;
}

/* ESTILOS DE SUMBIT CUANDO ESTEN DESHABILITADOS */
.btn__submit:disabled {
  opacity: 0.5;
  cursor: not-allowed;
}

.btn__info:disabled {
  opacity: 0.5;
  cursor: not-allowed;
}
