.header__content {
  padding: 1rem;
  position: relative; 
  overflow: hidden; 
}

/* OCULTAR EN MOVIL MOSTRAR EN ESCRITORIO */
.containerNavAndLogin {
  display: none; 
}
@media (min-width: 720px) {
  .containerNavAndLogin {
    display: flex; 
    gap: 1rem;
    align-items: center;
  }
}

/* --- ICONO DE FLECHA--*/
.mobileNavIcon {
  font-size: 1.5rem;
  cursor: pointer;
  display: block; 
}
/* OCULTAR EN ESCRITORIO */
@media (min-width: 720px) {
  .mobileNavIcon {
    display: none; 
  }
}

/* --- MENU MOVIL--- */
.mobileNavAndLogin {
  position: fixed; 
  top: 0;
  right: 0; 
  width: 70%; 
  max-width: 300px;
  height: 100vh; 
  padding: 2rem 1rem;
  background-color: #fff;
  box-shadow: -2px 0 5px rgba(0, 0, 0, 0.1);
  
  display: flex;
  flex-direction: column; 
  align-items: flex-start;
  gap: 1.5rem; 
  transform: translateX(100%); 
  transition: transform 0.3s ease-out;
  
  /* ASEGURAR QUE ESTE POR ENCIMA */
  z-index: 1000; 
}

/*ESTADO DE ABIERTO ANCLADO A LA DERECHA */
.mobileNavAndLogin.open {
  transform: translateX(0);
}

/* ESTILO DE ICONO PARA CERRAR DENTRO DEL MENU */
.mobileMenuCloseIcon {
  font-size: 1.5rem;
  cursor: pointer;
  align-self: flex-end; 
}