.auth-wrapper__login {
  color: var(--text-color-primary);
  font-weight: 400;
}

.text__sigIn {
  font-size: 0.9rem;
  color: var(--text-color-primary);
}

@media (min-width: 720px) {
  .text__sigIn {
    font-size: 1.2rem;
  }
}
