.spinner-animation {
  animation: spin 1s linear infinite; 
}

@keyframes spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.btn__info{
  min-width: 150px; 
}