/*-----------------LO RELACIONADO CON DISEÑO, TIPOGRAFIAS, VARIABLES CSS, RESPONSIVIDAD, BOTONES, ETC-------------------*/

/* ROOT*/
:root {
  /* VARIABLES FONDO */
  --bg-primary: #eceaea;
  --bg-secondary: #1e5da3;
  --bg-form: #fff;

  /* VARIABLES COLOR DE TEXTO */
  --text-color-primary: #4e4c4c;
  --text-color-secondary: #f2f2f2;
  --text-color-info: #1e5da3;
  --text-color-danger: #d42f2f;
  --text-color-warn: #d3d614e5;
  --text-color-success: #0f800fcb;

  /* ENLACES */
  --link-color-primary: #fdfdfd;
  --link-color-secondary: #1e5ca3b2;
  --link-hover-primary: #1e5ca3b2;
  --link-hover-secondary: #fdfdfd;

  /* VARIABLES COLOR DE TEXTO PARA BOTONES */
  --btn-text-primary: #fdfdfd;
  --btn-text-secondary: #1e5da3;
  --btn-text-gray: #7a7878;

  /* VARIABLES COLOR DE FONDO PARA BOTONES */
  --btn-gray: #7a7878;
  --btn-hover: #1d4ed8;
  --btn-danger: #d42f2f;
  --btn-success: #0f800fcb;
  --btn-warning: #d3d614e5;
  --btn-ghost: #dddcdc8f;
  --btn-info: #1e5da3;

  /* PARA ESTILOS HOVER EN BOTON FANTASMA*/
  --btn-gosth-hover: #beb6b63d; /* UN COLOR LIGERAMENTE DIFERENTE */


  /* VARIABLE ESTILOS A ICONOS */
  --icon-color: gray;
  /* PARA ESTILOS HOVER EN ICONO */
  --icon-color-hover: #333; /* COLOR DE CONTRASTE */

  /* VARIABLE PARA ANCHOS  Y ALTURA*/
  --w-container: 100%;
  --w-min-container: 100dvw;
  --h-min-container: 100dvh;
}

/* BASE BODY Y TIPOGRAFÍA */
body {
  background-color: var(--bg-primary);
  font-family: 'Inter', sans-serif;
  letter-spacing: 1px;
}

body,
main {
  min-height: var(--h-min-container);
}

a {
  user-select: none;
  color: var(--link-color-primary);
}

a:focus {
  outline: none;
}

/* TITULOS */
h1 {
  font-size: 1.75rem;
}

h2 {
  font-size: 1rem;
}

h3 {
  font-size: 0.95rem;
}

h4 {
  font-size: 0.8rem;
}

/* CONTENEDORES Y BOTONES */
.container-textInfo {
  color: var(--text-color-info);
  font-size: 0.875rem;
}

.container-btn {
  padding: 0.8rem;
}

.btn {
  min-width: 200px;
  width: 100%;
  color: var(--text-color-secondary);
  display: inline-flex;
  font-weight: 600;
  padding: 0.75rem 1.25rem;
  border-radius: 0.375rem;
  background-color: var(--bg-secondary);
  transition: background-color 0.3s ease;
}

.btn__close {
  background-color: var(--btn-danger);
}

.btn__ghost {
  background-color: var(--btn-ghost);
}

.btn__info {
  background-color: var(--btn-info);
}

.btn__success {
  background-color: var(--btn-success);
}

.btn__warn {
  background-color: var(--btn-warning);
}

/* MEDIA QUERIES */
@media (min-width: 768px) {
  .container-textInfo {
    font-size: 0.9375rem;
  }

  .btn {
    width: auto;
  }
}

@media (min-width: 968px) {
  h1 {
    font-size: 2.75rem;
  }

  h2 {
    font-size: 1.35rem;
  }

  h3 {
    font-size: 1rem;
  }

  h4 {
    font-size: 0.9rem;
  }
}

@media (min-width: 1024px) {
  h1 {
    font-size: 3.75rem;
  }

  h2 {
    font-size: 1.25rem;
  }

  h3 {
    font-size: 1.125rem;
  }

  h4 {
    font-size: 1rem;
  }

  .container-textInfo {
    font-size: 0.9375rem;
  }

  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    padding: 0.9rem 0;
  }
}
