.btn__closeModal {
  font-size: 1rem;
  z-index: 1000;
  right: 0.2rem;
  top: 0.2rem;
  opacity: 0.8;
  transition: opacity 0.3s ease-in-out;
}

@media (min-width: 1024px) {
  .btn__closeModal {
    font-size: 1.2rem;
  }
}

@media (hover: hover) and (pointer: fine) {
  .btn__closeModal:hover {
    opacity: 1;
  }
}
