/* root */
/* VARIABLES CSS PARA DETERMINAR COLORES PRIMARIOS Y SECUNDARIOS ETC Y REUTILIZAR*/
:root {
  --bg-primary: #eceaea;
  --bg-secondary: #1E5DA3;
}

/* ELEMENTOS FLEXBOX */
.modal-rol,
.modal-rol__header,
.modal-rol__card-inner,
.modal-rol__cards,
.modal-rol__header>div:last-child {
  display: flex;
}

/* ALINEADOS AL CENTRO */
.modal-rol,
.modal-rol__header,
.modal-rol__card-inner,
.modal-rol__header>div:last-child {
  align-items: center;
}

/* DIRECCION COLUMN*/
.modal-rol__cards,
.modal-rol__header--column {
  flex-direction: column;
}

/* JUSTIFICADOS AL CENTRO */
.modal-rol {
  justify-content: center;
}

/* JUSTIFICADOS A LOS EXTREMOS(BETWEEN) */
.modal-rol__header {
  justify-content: space-between;
}

/* JUSTIFICADOS AL INICIO  */
.modal-rol__header>div:last-child {
  justify-content: flex-start;
}

/* GAP  1REM */
.modal-rol__cards,
.modal-rol__card-inner {
  gap: 1rem;
}

.modal-rol {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.6);
  z-index: 1000;
  transform: scale(1);
  transition: opacity 0.3s ease, transform .3s ease-in-out;
}

.modal-rol--hidden {
  transform: scale(0);
}

.modal-rol__container {
  width: 90%;
  max-width: 600px;
  background-color: #fff;
  border-radius: 12px;
  padding: 1.1rem;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.2);
}

/* ========== HEADER ========== */
.modal-rol__header,
.modal-rol__header>div:last-child {
  width: 100%;
  gap: 1rem;
}

.modal-rol__close-btn {
  background: none;
  border: none;
  font-size: .9rem;
  cursor: pointer;
  color: #555;
}

.modal-rol__close-icon {
  pointer-events: none;
}

/* DESCRIPTION */
.modal-rol__description {
  margin-bottom: 1.5rem;
}

.modal-rol__card {
  flex: 1;
  border: 2px solid #ddd;
  border-radius: 8px;
  padding: .6rem;
  cursor: pointer;
  transition: all 0.3s ease;
  background-color: #fafafa;
}

.modal-rol__card:hover {
  border-color: #007bff;
  background-color: #f0f8ff;
}

.modal-rol__icon-container {
  font-size: 1.3rem;
  color: #007bff;
}

.modal-rol__text {
  flex: 1;
}

.modal-rol__card-title {
  font-weight: 600;
  color: var(--bg-secondary);
}

.modal-rol__card-description {
  color: #555;
}

/* ========== MODIFICADORES ========== */
.modal-rol__card--cliente .modal-rol__icon-container {
  color: #28a745;
}

.modal-rol__card--profesional .modal-rol__icon-container {
  color: #17a2b8;
}


/************************MEDIAQUERYES ***************************************/
/* 768px */
@media (min-width: 768px) {
  .modal-rol__icon-container {
    font-size: 1.6rem;
  }
}

/* 968px */
@media (min-width: 968px) {}

/* 1024px */
@media (min-width: 1024px) {
  .modal-rol__cards {
    flex-direction: row;
  }

  .modal-rol__close-btn {
    font-size: 1.2rem;
  }

  .modal-rol__icon-container {
    font-size: 2rem;
  }
}