/* ELEMENTOS FLEXBOX */
.modal-rol__header>div:last-child {
  display: flex;
}

/* ALINEADOS AL CENTRO */
.modal-rol__header>div:last-child {
  align-items: center;
}

/* JUSTIFICADOS AL INICIO  */
.modal-rol__header>div:last-child {
  justify-content: flex-start;
}

.modal-rol {
  top: 0;
  left: 0;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.6);
  z-index: 1000;
  transform: scale(1);
  transition: opacity 0.3s ease, transform .3s ease-in-out;
}

.modal-rol--hidden {
  transform: scale(0);
}

.modal-rol__container {
  width: 90%;
  max-width: 600px;
  background-color: var(--bg-primary);
  border-radius: 12px;
  padding: 1.1rem;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.2);
}

/* ========== HEADER ========== */
.modal-rol__header>div:last-child {
  width: 100%;
  gap: 1rem;
}

.modal-rol__close-btn {
  background: none;
  border: none;
  font-size: .9rem;
  color: var(--text-color-primary);
}

.modal-rol__close-icon {
  pointer-events: none;
}

/* DESCRIPTION */
.modal-rol__description {
  margin-bottom: 1.5rem;
}

.modal-rol__card {
  flex: 1;
  border: 2px solid #ddd;
  border-radius: 8px;
  padding: .6rem;
  transition: all 0.3s ease;
  background-color: var(--bg-primary);
}

.modal-rol__card:hover {
  border-color: var(--link-hover-primary);
  background-color: var(--link-hover-secondary);
}

.modal-rol__icon-container {
  font-size: 1.3rem;
  color: var(--bg-secondary);
}

.modal-rol__text {
  flex: 1;
}

.modal-rol__card-title {
  font-weight: 600;
  color: var(--bg-secondary);
}

.modal-rol__card-description {
  color: var(--text-color-primary);
}

/* ========== MODIFICADORES ========== */
.modal-rol__card--cliente .modal-rol__icon-container {
  color: #28a745;
}

.modal-rol__card--profesional .modal-rol__icon-container {
  color: #17a2b8;
}


/************************MEDIAQUERYES ***************************************/
/* 768px */
@media (min-width: 768px) {
  .modal-rol__icon-container {
    font-size: 1.6rem;
  }
}

/* 1024px */
@media (min-width: 1024px) {
  .modal-rol__cards {
    flex-direction: row;
  }

  .modal-rol__close-btn {
    font-size: 1.2rem;
  }

  .modal-rol__icon-container {
    font-size: 2rem;
  }
}