/* ----------------ESTILOS PASO PARA EL PASO 2 ---------------- */

.form-groupProfile__label {
  font-weight: 500;
  text-align: center;
  font-size: 0.725rem;
}

/* IMAGENES PREVIAS */
/* ESTILOS PARA LOS CONTENEDORES DE IMÁGENES (ÚNICAS Y MÚLTIPLES) */
.form-groupProfile__previewImage,
.form-groupProfile__previewMultipleImages {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
  justify-content: center;
  border-radius: 8px;
  padding: 15px;
  background-color: #fafafa;
  min-height: 120px;
}

/* EFECTO HOVER EN IMAGENES */
.experience-image-preview:hover,
.profile-image-preview:hover {
  transform: scale(1.05);
  box-shadow: 2px 2px 15px rgba(0, 0, 0, 0.2);
}

/* ESTILOS PARA LOS ELEMENTOS VACÍOS (CUANDO NO HAY IMÁGENES) */
.form-groupProfile__previewMultipleImages:empty,
.form-groupProfile__previewImage:empty {
  min-width: 0;
  padding: 0;
  background-color: transparent; /* FONDO TRANSPARENTE */
  border-color: transparent; /*BORDE TRANSPARENTE CUANDO ESTA VACIO */
}

/* ESTILOS PARA LAS IMÁGENES DEL PERFIL (SI SE MUESTRAN) */
.form-groupProfile__multipleImages > img,
.form-groupProfile__previewImage img {
  width: 150px;
  height: 150px;
  object-fit: cover;
  box-shadow: 2px 2px 8px rgba(0, 0, 0, 0.1);
  margin: 5px;
}

/* TEXTO DE AYUDA */
.upload-area__note {
  font-size: 0.75rem;
}

.upload-area__input {
  display: none;
}

/* AREAS DE SUBIDA DE IMAGEN */
.upload-area {
  border-style: dashed;
  padding: 0.5rem;
  text-align: center;
  color: var(--text-color-primary);
  transition: border-color 0.5s linear;
}

/* ICONO DE SUBIDA DE IMAGEN */
.upload-area__icon {
  font-size: 2rem;
}

/* ESTILO DE MENSAJE DE DE ERROR SOLO PARA IMAGENES */
.has-error.hidden {
  opacity: 0;
}

/* ESTILO QUE ESCONDE EL TEXTO PARA CUANDO ESTA EN MOVIL*/

.upload-area__text--hidde {
  display: none;
}

/* ASEGURAR QUE LOS EVENTOS DE HOVER SEAN PRECISOS 
SOLO PARA TABLET Y ESCRITORIO (INVESTIGADO) 
*/
@media (hover: hover) and (pointer: fine) {
  .upload-area:hover {
    color: var(--btn-hover);
  }

  .upload-area:hover {
    border-color: currentColor;
  }
}

/* ESCRITORIO 1024PX */
@media (min-width: 1024px) {
  .upload-area {
    padding: 1rem;
  }
}

/*-------------------------------------RESPONSIVE-------------------------------------------------------------/

/* TABLET 768PX */
@media (min-width: 768px) {
  .form-groupProfile__containerImageProfile .form__groupImagesExperiences,
  .form-groupProfile__containerDescription {
    gap: 1.5rem;
  }

  .form-groupProfile__label {
    font-size: 0.875rem;
    text-align: start;
  }
}
