/* ========== HEADER ========== */
.modal-role__close-btn {
  background: none;
  border: none;
  font-size: 1.1rem;
  right: 0.5rem;
  top: 0;
  color: var(--text-color-primary);
}

.modal-role__close-icon {
  pointer-events: none;
}

/* DESCRIPTION */
.modal-role__description {
  margin-bottom: 1.5rem;
}

/* TARJETA PRINCIPAL DE MODAL  */
.modal-role__card {
  flex: 1;
  border: 2px solid #ddd;
  border-radius: 8px;
  padding: 0.6rem;
  transition: all 0.3s ease;
  background-color: var(--bg-primary);
}

.modal-role__card:hover {
  border-color: var(--link-hover-primary);
  background-color: var(--link-hover-secondary);
}

.modal-role {
  display: flex;
  min-height: 100dvh;
  inset: 0;
  backdrop-filter: blur(5px) brightness(0.7);
  background: rgba(0, 0, 0, 0.3);
}

/* ESCONDER MODAL ROLES */
.modal-role--hide{
  display: none;
}

.modal-role__container {
  background-color: var(--bg-primary);
  padding: 2rem;
  border-radius: 10px;
}

.modal-role__icon-container {
  font-size: 1.3rem;
  color: var(--bg-secondary);
}

.modal-role__text {
  flex: 1;
}

.modal-role__card-title {
  font-weight: 600;
  color: var(--bg-secondary);
}

.modal-role__card-description {
  color: var(--text-color-primary);
}

/* ========== MODIFICADORES ========== */
.modal-role__card--cliente .modal-role__icon-container {
  color: #28a745;
}

.modal-role__card--profesional .modal-role__icon-container {
  color: #17a2b8;
}

/************************MEDIAQUERYES ***************************************/
/* 768px */
@media (min-width: 768px) {
  .modal-role__icon-container {
    font-size: 1.6rem;
  }
}

/* 1024px */
@media (min-width: 1024px) {
  .modal-role__close-btn {
    font-size: 1.2rem;
  }

  .modal-role__icon-container {
    font-size: 2rem;
  }
}
