.btn__sendCode {
  font-size: 0.9rem;
  padding: 0.6rem;
  opacity: 0.9;
  transition: opacity 0.4s ease-in-out;
  background-color: var(--btn-success);
}

@media (hover: hover) and (pointer: fine) {
  .btn__sendCode:hover {
    opacity: 1;
  }
}
