/* --------------ESTILOS EN CAMPOS DEL FORMULARIO CLIENTE -------------- */
/*  ETIQUETAS LABEL DE INFORMACION BASICA */
.form__label {
  color: var(--text-color-primary);
}

/* TODOS LOS ASTERISCOS EN AZUL */
.span-required {
  color: #3452cd;
}

/*SELECT DE LOCALIDAD */
.form__location-select option:nth-of-type(1) {
  font-weight: bolder;
}