/*--------------------------------ESTILOS PARA FORMULARIOS DE REGISTRO----------------------------------------------- */
.register {
  max-width: 800px;
}
/* SUBCONTENEDOR DEL FORMULARIO*/
.register__container{
  background-color: var(--bg-form);
  border-radius: 0.5rem;
  padding: 1.2rem;
  box-shadow: 0 10px 15px rgba(0, 0, 0, 0.1);
}

/* TITULO PRINCIPAL DE FORMULARIO */
.register__title {
  font-size: 1.108rem;
}

/*-------------------------------------RESPONSIVE-------------------------------------------------------------/

/* TABLET 768PX */
@media (min-width: 768px) {
  .register__title,
  .register__title {
    font-size: 1.45rem;
  }
}

/* ESCRITORIO 1024PX */
@media (min-width: 1024px) {
  .register__title {
    font-size: 1.75rem;
  }
}

/* ASEGURAR QUE LOS EVENTOS DE HOVER SEAN PRECISOS SOLO PARA TABLET Y ESCRITORIO (INVESTIGADO) */
@media (hover: hover) and (pointer: fine) {
  /* HOVER BOTON SUBMIT DE FORMULARIO */
  .register__submit-btn:hover {
    background-color: var(--btn-hover);
  }
}