/* -- General styles -- */
/* IMPORTO CSS HOME EN INDEX PRINCIPAL */
@import url('./styles/home.css'); 
@import url('./styles/modalRol.css');
@import url('./styles/register.css');

/* root */
/* VARIABLES CSS PARA DETERMINAR COLORES PRIMARIOS Y SECUNDARIOS ETC Y REUTILIZAR*/
:root{
    --bg-primary: #eceaea;
    --bg-secondary: #1E5DA3;
}


/* RESETEO */
*,::after, ::before{
    box-sizing: border-box;
    padding: 0;
    margin:0;
}

body {
    background-color: var(--bg-primary);
    font-family: 'Inter', sans-serif;
}

h1 {
    font-size: 3.75rem;
}

h2 {
    font-size: 1.5rem;
}

h3 {
    font-size: 1.125rem;
}

p {
    font-size: 1rem;
}

li{
    list-style-type: none;
}

a{
  color: #FFFF;
}